#dog-showing {
  display: none;
}
.main-img {
  display: none;
}
.clickable {
  cursor: crosshair;
  color: #f442eb;
}

.clickable:hover {
  text-decoration: underline;
}
.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
}
.cream-background {
  background-color: #fcf7bf;
}

.custom {
  color : #f442eb;
  background-color: #fcf7bf;
}
