#dog-showing {
  display: none;
}
.main-img {
  display: none;
}
.clickable {
  cursor: crosshair;
  color: #f442eb;
}

.clickable:hover {
  text-decoration: underline;
}
.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
}
.cream-background {
  background-color: #fcf7bf;
}

.custom {
  color: #f442eb;
  background-color: #fcf7bf;
}

.dark-background {
  background-color: #404040;
  color: #ffffff;
}
.btn-dark {
  color: #ffffff;
  background-color: #404040;
}

.btn-original {
  color: #404040;
  background-color: #f2f2f2;
}
